body {
background-color: #fceec7; /*light sand*/
font-family: "Quicksand", ariel, sans-serif;
}
/*------nav bar start-----*/
/*--------see nav.css---------*/
/*------nav bar end-----*/

/*------painting thumbnails start-----*/
/*.paintings {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.paintings a{
  padding:20px
}*/

.maritimecities {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.placesilove {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}
.flowersandnature {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

}

.theladies {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.images {
  display: flex;
  align-items: center;
}

h4 {
  color: #886451; /* plum*/
  font-size: 20px;
  font-style: italic;
  text-align: center;
  padding-top: 20px;
  margin-left: 30px;
  margin-right: 30px;
}
h5 {
  color: #fceec7; /* lt sand*/
  font-size: 15px;
  font-style: italic;
  text-align: center;

}
h6 {
  color: #fceec7; /* lt sand*/
  font-size: 15px;
  font-style: bold;
  text-align: left;
  margin-left: 30px;
  padding: none;

}

section {
  background-color: #acc1cc; /*medium blue*/
  margin: auto;
  width: 90%;
  align-items: center;
  padding-top: 100px;
}
.marketbags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
